button{
    text-decoration: none;
    border: none;
    color: white;
    background-color: black;
}

.navbar-active{
    border: 2px white solid;
    border-radius: 10px;
}

.navbar{
    text-decoration: none;
    color: white;
}

.navigation{
    padding: 30px;
}